.bar {
  position: fixed;
  width: 100%;
  background-color: #111;
  background-image: linear-gradient(#444, #111);
  //box-shadow: 0 2px 1px #111;
  z-index: 1;
  animation: .5s ease-out 0s 1 fadeInFromAbove;
}
.bar-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
    padding: $m-size $xl-size $m-size $xl-size;
}
.header__title {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.links {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top:0.2rem;
}
.link:not(:last-child) {
  border-right: 1px solid $off-white;
}

.link>a {
  margin: $m-size;
  color: $off-white;
  font-size: $m-size;
  text-decoration: none;
}

.link>a:hover {
  color:white;
}

.hamburger {
  display: none;
  border: none;
  background: transparent;
  width: 2.4rem;
  height: auto;
  background-image: url("../imgs/icons8-menu-30.png");
  background-position: center center;
  padding:0;
}

.drop-enter {
  transform: scaleY(0);
}
.drop-enter.drop-enter-active {
  transform: scaleY(1);
  transition: transform 300ms ease-in;
}
.drop-exit {
  transform: scaleY(1);
}
.drop-exit.drop-exit-active {
  transform: scaleY(0);
  transition: transform 300ms ease-in;
}

@media (max-width: 845px) {
  .links {
    position: fixed;
    z-index: 1;
    top: 5.3rem;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform-origin: top;
  }
  .link {
    padding: $m-size 0 $m-size 0;
    width: 100%;
    text-align: center;
  }
  .link:not(:last-child) {
      border-right: none;
      border-bottom: 1px solid $off-white;
  }
  .hamburger {
    display: block;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeInFromAbove {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
