@import "./myAnimations.scss";

.spacer {
  display: block;
  height: 12rem;
  background: white;
  opacity: 1;
  z-index: 1;
  width: 100%;
}

.apply-btn {
  position: fixed;
  display: block;
  margin:auto;
  right: 0;
    height: 6rem;
    width: 25rem;
    background: white;
    border: 3px solid black;
    box-shadow: 0 0 2rem 0.5rem white;
    padding: 3rem 1rem 0rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 20pt;
    z-index: 2;
    top: 12rem;
    animation: slideInFromRight 1s ease 2.5s backwards;
}

.financial-solutions {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  //-webkit-box-reflect: below 0 -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 1)));
  margin-top: 10rem;
  animation: headerCycle 3s;
  -webkit-animation: headerCycle 3s;
  margin-bottom: 0;
}
.financial-solutions-reflect {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: 7rem;
  -moz-transform: scaleY(-1);
       -o-transform: scaleY(-1);
       -webkit-transform: scaleY(-1);
       transform: scaleY(-1);
	-webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(20%, transparent), to(rgba(0, 0, 0, 0.4)));
  animation: headerReflectionCycle 3s;
  -webkit-animation: headerReflectionCycle 3s;
  margin-top: 0;
}

//for internet explorer:
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .financial-solutions-reflect {
        display: none;
   }
   .financial-solutions {
     animation: headerCycle 3s forwards;
   }
}
h1.financial-solutions {
    font-size: 7rem;
}
h4.financial-solutions {
    font-weight: 400;
  font-size: 15pt;
  margin-top: 0;
}

.extra-margin {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.content__home {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 160rem;
  top: 5.4rem;
  transition: top 300ms ease;
  z-index: 0;
}

.planet-img {
  background-image: url("../imgs/back_top.png");
}

.video {
  display: block;
  min-width: 90%;
  min-height: 260px;
  margin: auto;
}

.video-box {
  width: 80%;
  border-top: 5px solid $off-black;
  background-color: $off-white;
  padding: 4% 0;
  box-shadow: 0 0 5px 5px;
  margin-left: $l-size;
}

* html .back-top {
   position:absolute;
   top:expression(((back-top.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

.enter-up {
  //top: 2rem;
  animation: enter-up 1s ease 3s backwards;
  //transform: 3s ease;
}

.gone {
  display: none;
}

@media (max-width: 845px) {
  .row {
    background: none;
    flex-direction: column;
    align-items: center;
  }
  .block-2 {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .financial-solutions-reflect {
    font-size: 3rem;
  }
  h1.financial-solutions {
      font-size: 3rem;
  }
}
